In [2]:
import pandas as pd

In [3]:
us_vacc_path = "resources/vaccinations/us_state_vaccinations.csv"
state_business_path = "resources/State.csv"
mobility_path= "resources/Global_Mobility_Report.csv"
us_path = "resources/2021_US_Region_Mobility_Report.csv"

In [4]:
vacc_df = pd.read_csv(us_vacc_path)
vacc_df

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used
0,2021-01-12,Alabama,78134.0,377025.0,70861.0,0.15,1.59,7270.0,1.44,7.69,NaN,NaN,NaN,0.207
1,2021-01-13,Alabama,84040.0,378975.0,74792.0,0.19,1.71,9245.0,1.52,7.73,5906.0,5906.0,1205.0,0.222
2,2021-01-14,Alabama,92300.0,435350.0,80480.0,NaN,1.88,NaN,1.64,8.88,8260.0,7083.0,1445.0,0.212
3,2021-01-15,Alabama,100567.0,444650.0,86956.0,0.27,2.05,13488.0,1.77,9.07,8267.0,7478.0,1525.0,0.226
4,2021-01-16,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7557.0,7498.0,1529.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2813,2021-02-19,Wyoming,124310.0,150005.0,87289.0,6.33,21.48,36651.0,15.08,25.92,18884.0,5025.0,8682.0,0.829
2814,2021-02-20,Wyoming,129060.0,150905.0,89346.0,6.79,22.30,39323.0,15.44,26.07,4750.0,5703.0,9854.0,0.855
2815,2021-02-21,Wyoming,129470.0,150905.0,89605.0,6.82,22.37,39474.0,15.48,26.07,410.0,4339.0,7497.0,0.858
2816,2021-02-22,Wyoming,135635.0,150905.0,91931.0,7.48,23.44,43289.0,15.88,26.07,6165.0,5142.0,8885.0,0.899
2817,2021-02-23,Wyoming,136163.0,167025.0,92151.0,7.53,23.53,43596.0,15.92,28.86,528.0,5140.0,8881.0,0.815

In [5]:
vacc_df = vacc_df[["date", "location", "people_vaccinated", "people_fully_vaccinated"]]
vacc_df

            date location  people_vaccinated  people_fully_vaccinated
0     2021-01-12  Alabama            70861.0                   7270.0
1     2021-01-13  Alabama            74792.0                   9245.0
2     2021-01-14  Alabama            80480.0                      NaN
3     2021-01-15  Alabama            86956.0                  13488.0
4     2021-01-16  Alabama                NaN                      NaN
...          ...      ...                ...                      ...
2813  2021-02-19  Wyoming            87289.0                  36651.0
2814  2021-02-20  Wyoming            89346.0                  39323.0
2815  2021-02-21  Wyoming            89605.0                  39474.0
2816  2021-02-22  Wyoming            91931.0                  43289.0
2817  2021-02-23  Wyoming            92151.0                  43596.0

[2818 rows x 4 columns]

In [6]:
vacc_df = vacc_df.dropna(axis="index")
vacc_df = vacc_df.loc[vacc_df["date"] >= "2019-01-01"]
vacc_df

            date location  people_vaccinated  people_fully_vaccinated
0     2021-01-12  Alabama            70861.0                   7270.0
1     2021-01-13  Alabama            74792.0                   9245.0
3     2021-01-15  Alabama            86956.0                  13488.0
7     2021-01-19  Alabama           114319.0                  16346.0
8     2021-01-20  Alabama           121113.0                  17956.0
...          ...      ...                ...                      ...
2813  2021-02-19  Wyoming            87289.0                  36651.0
2814  2021-02-20  Wyoming            89346.0                  39323.0
2815  2021-02-21  Wyoming            89605.0                  39474.0
2816  2021-02-22  Wyoming            91931.0                  43289.0
2817  2021-02-23  Wyoming            92151.0                  43596.0

[2405 rows x 4 columns]

In [7]:
vacc_df = vacc_df.rename(columns={"location":"state"})
vacc_df

            date    state  people_vaccinated  people_fully_vaccinated
0     2021-01-12  Alabama            70861.0                   7270.0
1     2021-01-13  Alabama            74792.0                   9245.0
3     2021-01-15  Alabama            86956.0                  13488.0
7     2021-01-19  Alabama           114319.0                  16346.0
8     2021-01-20  Alabama           121113.0                  17956.0
...          ...      ...                ...                      ...
2813  2021-02-19  Wyoming            87289.0                  36651.0
2814  2021-02-20  Wyoming            89346.0                  39323.0
2815  2021-02-21  Wyoming            89605.0                  39474.0
2816  2021-02-22  Wyoming            91931.0                  43289.0
2817  2021-02-23  Wyoming            92151.0                  43596.0

[2405 rows x 4 columns]

In [8]:
state_business_df = pd.read_csv(state_business_path)
state_business_df = state_business_df[["Year", "Week", "State", "Business Applications", "Applications from Corporations"]]
state_business_df

       Year  Week State  Business Applications  Applications from Corporations
0      2006     1    AK                     90                              30
1      2006     2    AK                     90                              30
2      2006     3    AK                    130                              40
3      2006     4    AK                    100                              20
4      2006     5    AK                    150                              30
...     ...   ...   ...                    ...                             ...
40744  2021    13    WY                    670                              90
40745  2021    14    WY                    700                             100
40746  2021    15    WY                    760                             110
40747  2021    16    WY                    680                             100
40748  2021    17    WY                    740                             110

[40749 rows x 5 columns]

In [14]:
#Change abbreviation 
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}


abbrev_us_state = dict(map(reversed, us_state_abbrev.items()))

state_business_df = state_business_df.replace({"State": abbrev_us_state})
state_business_df

,Year,Week,State,Business Applications,Applications from Corporations
0,2006,1,Alaska,90,30
1,2006,2,Alaska,90,30
2,2006,3,Alaska,130,40
3,2006,4,Alaska,100,20
4,2006,5,Alaska,150,30
...,...,...,...,...,...
40744,2021,13,Wyoming,670,90
40745,2021,14,Wyoming,700,100
40746,2021,15,Wyoming,760,110
40747,2021,16,Wyoming,680,100
40748,2021,17,Wyoming,740,110

In [15]:
state_business_df = state_business_df.loc[state_business_df["Year"] >= 2021]
state_business_df

,Year,Week,State,Business Applications,Applications from Corporations
782,2021,1,Alaska,130,20
783,2021,2,Alaska,240,20
784,2021,3,Alaska,170,20
785,2021,4,Alaska,210,10
786,2021,5,Alaska,210,10
...,...,...,...,...,...
40744,2021,13,Wyoming,670,90
40745,2021,14,Wyoming,700,100
40746,2021,15,Wyoming,760,110
40747,2021,16,Wyoming,680,100
40748,2021,17,Wyoming,740,110

In [16]:
us_mobility = pd.read_csv(us_path)
us_mobility

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,US,United States,NaN,NaN,NaN,NaN,NaN,ChIJCzYy5IS16lQRQrfeQ5K5Oxw,2021-01-01,-47.0,-37.0,-21.0,-62.0,-75.0,27.0
1,US,United States,NaN,NaN,NaN,NaN,NaN,ChIJCzYy5IS16lQRQrfeQ5K5Oxw,2021-01-02,-26.0,-13.0,-14.0,-33.0,-21.0,9.0
2,US,United States,NaN,NaN,NaN,NaN,NaN,ChIJCzYy5IS16lQRQrfeQ5K5Oxw,2021-01-03,-27.0,-16.0,-24.0,-33.0,-17.0,7.0
3,US,United States,NaN,NaN,NaN,NaN,NaN,ChIJCzYy5IS16lQRQrfeQ5K5Oxw,2021-01-04,-19.0,-8.0,-23.0,-39.0,-34.0,12.0
4,US,United States,NaN,NaN,NaN,NaN,NaN,ChIJCzYy5IS16lQRQrfeQ5K5Oxw,2021-01-05,-20.0,-6.0,-20.0,-39.0,-34.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408601,US,United States,Wyoming,Weston County,NaN,NaN,56045.0,ChIJd4Rqhed3YocR7ubT5-HgoJg,2021-05-31,NaN,NaN,NaN,NaN,-66.0,NaN
408602,US,United States,Wyoming,Weston County,NaN,NaN,56045.0,ChIJd4Rqhed3YocR7ubT5-HgoJg,2021-06-01,NaN,NaN,NaN,NaN,-36.0,NaN
408603,US,United States,Wyoming,Weston County,NaN,NaN,56045.0,ChIJd4Rqhed3YocR7ubT5-HgoJg,2021-06-02,NaN,NaN,NaN,NaN,-34.0,NaN
408604,US,United States,Wyoming,Weston County,NaN,NaN,56045.0,ChIJd4Rqhed3YocR7ubT5-HgoJg,2021-06-03,NaN,NaN,NaN,NaN,-35.0,NaN
408605,US,United States,Wyoming,Weston County,NaN,NaN,56045.0,ChIJd4Rqhed3YocR7ubT5-HgoJg,2021-06-04,NaN,NaN,NaN,NaN,-41.0,NaN

In [17]:
us_mobility = us_mobility[["sub_region_1", "date", "retail_and_recreation_percent_change_from_baseline",
                          "grocery_and_pharmacy_percent_change_from_baseline", "parks_percent_change_from_baseline",
                          "transit_stations_percent_change_from_baseline", "workplaces_percent_change_from_baseline",
                          "residential_percent_change_from_baseline"]]
us_mobility = us_mobility.dropna()
us_mobility

,sub_region_1,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
157,Alabama,2021-01-01,-44.0,-30.0,-16.0,-46.0,-72.0,26.0
158,Alabama,2021-01-02,-19.0,-8.0,-2.0,-8.0,-19.0,7.0
159,Alabama,2021-01-03,-16.0,-8.0,-7.0,-1.0,-17.0,6.0
160,Alabama,2021-01-04,-5.0,2.0,-9.0,-9.0,-26.0,8.0
161,Alabama,2021-01-05,-10.0,-1.0,-14.0,-12.0,-25.0,8.0
...,...,...,...,...,...,...,...,...
407367,Wyoming,2021-05-28,7.0,15.0,103.0,11.0,-24.0,0.0
407371,Wyoming,2021-06-01,7.0,17.0,106.0,3.0,-21.0,1.0
407372,Wyoming,2021-06-02,7.0,14.0,103.0,-4.0,-21.0,1.0
407373,Wyoming,2021-06-03,10.0,15.0,87.0,6.0,-21.0,-1.0
407374,Wyoming,2021-06-04,-5.0,13.0,100.0,9.0,-21.0,0.0

In [18]:
us_mobility = us_mobility.rename(columns={"sub_region_1":"state"})

In [19]:
merge_df = pd.merge(vacc_df, us_mobility)
merge_df

,date,state,people_vaccinated,people_fully_vaccinated,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,2021-01-12,Alabama,70861.0,7270.0,-15.0,-7.0,-25.0,-15.0,-24.0,9.0
1,2021-01-12,Alabama,70861.0,7270.0,-15.0,-6.0,-15.0,-10.0,-23.0,6.0
2,2021-01-12,Alabama,70861.0,7270.0,-14.0,-17.0,-63.0,5.0,-16.0,7.0
3,2021-01-12,Alabama,70861.0,7270.0,-16.0,-8.0,21.0,0.0,-21.0,8.0
4,2021-01-12,Alabama,70861.0,7270.0,-11.0,-4.0,-18.0,-16.0,-18.0,7.0
...,...,...,...,...,...,...,...,...,...,...
21279,2021-02-22,Wyoming,91931.0,43289.0,-18.0,-4.0,-7.0,-3.0,-17.0,7.0
21280,2021-02-22,Wyoming,91931.0,43289.0,-15.0,-7.0,3.0,-15.0,-16.0,4.0
21281,2021-02-23,Wyoming,92151.0,43596.0,-14.0,-7.0,-15.0,-6.0,-15.0,6.0
21282,2021-02-23,Wyoming,92151.0,43596.0,-18.0,-3.0,-3.0,-9.0,-18.0,6.0
21283,2021-02-23,Wyoming,92151.0,43596.0,-17.0,-7.0,-16.0,-24.0,-15.0,6.0

In [20]:
merge_df = pd.merge(vacc_df, us_mobility, on="date")
merge_df

,date,state_x,people_vaccinated,people_fully_vaccinated,state_y,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,2021-01-12,Alabama,70861.0,7270.0,Alabama,-15.0,-7.0,-25.0,-15.0,-24.0,9.0
1,2021-01-12,Alabama,70861.0,7270.0,Alabama,-15.0,-6.0,-15.0,-10.0,-23.0,6.0
2,2021-01-12,Alabama,70861.0,7270.0,Alabama,-14.0,-17.0,-63.0,5.0,-16.0,7.0
3,2021-01-12,Alabama,70861.0,7270.0,Alabama,-16.0,-8.0,21.0,0.0,-21.0,8.0
4,2021-01-12,Alabama,70861.0,7270.0,Alabama,-11.0,-4.0,-18.0,-16.0,-18.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...
1411134,2021-02-23,Wyoming,92151.0,43596.0,Wisconsin,-25.0,-7.0,18.0,-30.0,-31.0,12.0
1411135,2021-02-23,Wyoming,92151.0,43596.0,Wisconsin,-15.0,-6.0,30.0,-20.0,-24.0,8.0
1411136,2021-02-23,Wyoming,92151.0,43596.0,Wyoming,-14.0,-7.0,-15.0,-6.0,-15.0,6.0
1411137,2021-02-23,Wyoming,92151.0,43596.0,Wyoming,-18.0,-3.0,-3.0,-9.0,-18.0,6.0
1411138,2021-02-23,Wyoming,92151.0,43596.0,Wyoming,-17.0,-7.0,-16.0,-24.0,-15.0,6.0